@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base{
    body {
        @apply dark:bg-dark-background bg-light-background
    }
}




/* For ScrollBar Hide */

 /* Hide scrollbar for Chrome, Safari and Opera */
 .hidden-scroller::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .hidden-scroller {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  } 